.validate_error {
    border: 1px solid #E40000;
    border-radius: 0.25rem 0.25rem 0 0;
}

.rounded-top {
    border-radius: 0.25rem 0.25rem 0 0;
}

.rounded-bottom {
    border-radius: 0 0 0.25rem 0.25rem;
}

.boxshadow-modal {
    /* box-shadow: 0px 0px 7px 3px rgba(164,164,164,0.23); */
    box-shadow: 0px 5px 13px 5px rgba(164,164,164,0.23);

}

.arrow-bottom:after {
    content: " ";
    position: relative;
    /* right: 30px; */
    left: 45%;
    bottom: -28px;
    border-top: 10px solid white;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: none;
}