
<section class="bg-blue w-full fixed bottom-0">
    <div class="flex justify-between pt-3 pb-3 pl-10 pr-5">
        <div class="">
            <p class="text-xl font-bold text-white">Don't miss what's happening</p>
            <p class="text-sm text-white">People on Tweeter are the first to know.</p>
        </div>
        <div class="flex align-center">
            <button class="mr-3 text-white bg-blue border border-white font-bold rounded-full px-6 py-2 bg-blue hover:bg-lightblue">
                <a href="./login"> Log in</a>
            </button>
            <button class="text-black font-bold rounded-full px-6 py-2 bg-white hover:bg-lighter">
                <a href="./signup">Sign up</a>
            </button>
        </div>

    </div>


</section>