% include("header_page_primary", title="Twitter")

<!-- <body> -->
<div id="app" class="flex h-screen w-full">

    % include("rightpanel") 

    % include("sidebar_loggedin")

    % # center
    <div class="w-2/4 h-full ml-[25%] pb-[80%]">

        <p class="font-bold text-xl p-4">Home</p>

        <div class="tweet-add-container p-4 mt-4">
            <form action="/tweet_add" method="POST" class=" px-4 pt-4 pb-2 border border-blue1 rounded min-h-[8rem]">
                <div class="flex">
                    <img src="images/{{ user['image_ref'] }}"
                        class="mb-5 object-cover w-12 h-12 mr-4 rounded-full border border-light shrink-0">
                    <textarea class="disabled textsend w-full text-gray-800 border- outline-none placeholder:text-gray-800 pt-2 text-xl"
                        placeholder="What is in your mind ?" name="tweet_text" id="tweet_text" onkeyup="validate_textarea()"></textarea>
                </div>
                <div class="flex flex-col mt-2">
                    <button disabled class="transition duration-100 ease-in disabled:bg-light textsend-button self-end bottom-2 right-2 px-4 py-2 bg-blue hover:bg-darkblue text-white font-bold rounded-full">
                        Tweet
                    </button>
                </div>
            </form>
        </div>

        <div class="mt-4 border-b border-slate-200 mb-12">
            % for tweet in tweets:
            <div class="p-4 border-t border-slate-200">
                <div class="flex">
                    <div class="w-full">
                        <div class="pt-2">
                            <div class="flex">
                                <form action="user_profile_any" method="GET" class="w-full">
                                    <div class="flex">
                                        <div class="mr-3">
                                            <img src="images/{{ tweet['image_ref'] }}"
                                                class="object-cover h-12 rounded-full border border-light shrink-0 mb-2  min-w-[3rem] max-w-[3rem] w-full">
                                            <input type="hidden" id="user_any_email" name="user_any_email"
                                                value="{{ tweet['user_email'] }}"> </input>
                                            <input type="hidden" id="user_any_id" name="user_any_id"
                                                value="{{tweet['user_id']}}"> </input>
                                        </div>
                                        <div class="w-full">
                                            <div class="flex">
                                                <button class="font-bold text-sm hover:underline">
                                                    {{tweet["user_first_name"]}}
                                                    {{tweet["user_last_name"]}}
                                                </button>
                                                <p class="ml-1 text-sm text-gray-500"> @{{tweet["user_nick_name"]}}
                                                    · {{tweet["tweet_created_at"]}}
                                                </p>


                                            </div>
                                            <p class="text-sm mt-1">
                                                {{tweet["tweet_text"]}}
                                            </p>
                    
                                                <div class="flex gap-12 w-full mt-6 text-lg text-gray-500 font-sm">
                                                    <i class="fa fa-comment-o" aria-hidden="true"></i>
                                                    <i class="fa fa-regular fa-heart-o" aria-hidden="true"></i>
                                                    <i class="fa fa-retweet" aria-hidden="true"></i>
                                                    <i class="fa fa-share" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
            % end
        </div>

        % if tweets_length < 5 :
        <div class="bg-lightest rounded margin-center w-3/4 p-4">
            <p class="text-lg font-bold text-blue text-center">Don't miss what's happening</p>
            <p class="text-md font-bold mb-4 text-center">People to follow</p>
            <div class="margin-center w-3/4">
                % for person in people:
                <div class="flex items-center justify-between">
                    <form action="user_profile_any" method="GET">
                        <div class="flex items-center w-full mt-4">
                            <div class="ml-3 text-sm">
                                <button class="font-bold text-sm hover:underline">
                                    {{person["user_first_name"]}}
                                    {{person["user_last_name"]}}
                                </button>
                                <p>@{{person['user_nick_name']}}</p>
                            </div>
                            <input type="hidden" id="user_any_email" name="user_any_email"
                            value="{{ person['user_email'] }}"> </input>
                            <input type="hidden" id="user_any_id" name="user_any_id"
                            value="{{ person['user_id'] }}"> </input>
                        </div>
                    </form>
    
                    <form action="follow" method="POST">
                        <div class="flex items-center w-full mt-4">
                            <input type="hidden" id="user_email_receiver" name="user_email_receiver"
                            value="{{ person['user_email'] }}"> </input>
                            <button type="submit" class="transition duration-100 ease-in ml-auto rounded-full bg-white border border-black text-black hover:bg-black hover:text-white px-6 py-1 font-bold">
                                Follow
                            </button>
                        </div>
                    </form>
                </div>
                % end
            </div>
        </div>
        % end 
    </div>
    % # end center



</div>
% # end app



% include("footer")