% include("header_page_secondary", title="Login")

<body class="bg-blue">
<main class="bg-white max-w-lg mx-auto p-8 md:p-12 my-10 rounded-lg shadow-2xl">
    <section>
        <h3 class="font-bold text-2xl">Welcome to Tweets-er</h3>
        <p class="text-gray-600 pt-2">Log in to your account.</p>
    </section>

    <span class="bg-lighterror p-2 rounded-bottom text-error items-center flex hidden">
        <i class="ml-2 fa fa-exclamation-circle"></i>
        <p class="ml-2 text-xs">The e-mail address and password doesn't match any account.</p>
    </span>

    <section class="mt-10">
        <form class="flex flex-col" method="POST" action="/login">
            <div class="mb-6 pt-3 rounded bg-gray-200">
                <label class="block text-gray-700 text-sm font-bold mb-2 ml-3" for="email">Email</label>
                <input name="user_email" type="text" id="user_email" value=""
                    class="bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-blue transition duration-500 px-3 pb-3" >
            </div>

            <div class="mb-6 pt-3 rounded bg-gray-200">
                <label class="block text-gray-700 text-sm font-bold mb-2 ml-3" for="password">Password</label>
                <input name="user_password" type="password" id="user_password" value="1234567"
                    class="bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-blue transition duration-500 px-3 pb-3">
            </div>
            
            <button
                class="bg-blue hover:bg-darkblue text-white font-bold py-2 rounded shadow-lg hover:shadow-xl transition duration-200"
                type="submit">Log in</button>
        </form>
    </section>
</main>

<div class="max-w-lg mx-auto text-center mt-12 mb-6">
    <p class="text-white">Don't have an account? <a href="/signup" class="font-bold hover:underline">Sign up</a>.</p>
</div>

% include("footer")