% # right panel

<div class="w-1/4 h-full border-l border-lighter px-4 py-4 fixed right-0">
    <div class="relative">
        <input type="text" class="w-full rounded-full py-3 pl-12 pr-4 bg-lighter outline-none mb-2"
            placeholder="Search Fair Talk">
        <i class="fa fa-search absolute top-4 left-5 text-lg text-light" aria-hidden="true"></i>
    </div>
    % # You might like
    <div class="bg-lightest rounded-lg p-4">
        <p class="text-lg font-bold mb-4">
            You might like
        </p>
        <div class="">
            % for person in people:
            <div class="flex items-center justify-between">
                <form action="user_profile_any" method="GET">
                    <div class="flex items-center w-full mt-4">
                        <div class="ml-3 text-sm">
                            <button class="font-bold text-sm hover:underline">
                                {{person["user_first_name"]}}
                                {{person["user_last_name"]}}
                            </button>
                            <p>@{{person['user_nick_name']}}</p>
                        </div>
                        <input type="hidden" id="user_any_email" name="user_any_email"
                        value="{{ person['user_email'] }}"> </input>
                        <input type="hidden" id="user_any_id" name="user_any_id"
                        value="{{ person['user_id'] }}"> </input>
                    </div>
                </form>

                <form action="follow" method="POST">
                    <div class="flex items-center w-full mt-4">
                        <input type="hidden" id="user_email_receiver" name="user_email_receiver"
                        value="{{ person['user_email'] }}"> </input>
                        <button type="submit" class="transition duration-100 ease-in ml-auto rounded-full bg-white border border-black text-black hover:bg-black hover:text-white px-6 py-1 font-bold">
                            Follow
                        </button>
                    </div>
                </form>
            </div>
            % end
        </div>
    </div>
    % # end you might like
    % # trending
    <div class="w-full bg-lightest rounded-lg mt-2">
        <div class="flex items-center w-full p-2">
            <p class="text-lg font-bold">
                Trends for you
            </p>
            <i class="fa fa-cog ml-auto text-lg text-blue" aria-hidden="true"></i>
        </div>
        % for trend in trends:
        <a class="flex w-full border-t p-2 hover:bg-lighter cursor-pointer">
            <div class="">
                <p class="">
                    {{trend["top"]}}
                </p>
                <p class="font-bold">
                    {{trend["title"]}}
                </p>
                <p class="">
                    {{trend["bottom"]}}
                </p>
            </div>
            <i class="fa fa-angle-down ml-auto text-lg text-light" aria-hidden="true"></i>
        </a>
        % end
    </div>
    % # end trending
</div>
% # end right panel