
        % # Side navbar
        <div id="left_panel" class="fixed flex flex-col justify-between w-1/4 border-r border-lighter px-8 py-4 h-full">

            <div class="">
                <a class="flex items-center py-2 px-4 text-blue "  href="/">
                    <i class="fa fa-twitter fa-fw text-2xl mr-4" aria-hidden="true"></i>
                </a>

                % for tab in tabs:
                <div class="mt-6">
                    <a class="text-lg hover:bg-lighter rounded-full py-3 px-6" href="">
                        <i class="{{tab['icon']}}" aria-hidden="true"></i>
                        <span class="ml-2">{{tab['title']}}</span>
                    </a>
                </div>
              
                % end

            </div>

        </div>
        % # end side navbar


       