
        % # Side navbar
        <div id="left_panel" class="fixed flex flex-col justify-between w-1/4 border-r border-lighter px-8 py-4 h-full">

            <div class="">
                <a class="flex items-center py-2 px-4 text-blue"  href="/">
                    <i class="fa fa-twitter fa-fw text-2xl mr-4" aria-hidden="true"></i>
                </a>

                % for tab in tabs:
                <div class="mt-6">
                    <a class="text-lg hover:bg-lighter rounded-full py-3 px-6" href="{{tab['href']}}">
                        <i class="{{tab['icon']}}" aria-hidden="true"></i>
                        <span class="ml-2">{{tab['title']}}</span>
                    </a>
                </div>
                % end

                <div id="background-tweet-screen" class=" w-screen h-screen absolute hidden top-0 left-0 bg-modalbackground z-50" onclick="toggleTweetModal()"></div>
    
                <div id="tweet-modal" class="tweet-add-container px-6 pt-5 pb-8 mt-4 absolute w-[45vw] ml-[100%] z-50 bg-white top-[15vh] rounded-3xl hidden">
                    <i class="fa fa-times mb-4 text-slate-500 cursor-pointer" aria-hidden="true" onclick="toggleTweetModal()"></i>

                    <form action="/tweet_add" method="POST" class=" relative px-4 pt-4 pb-2 border border-blue1 rounded min-h-[8rem] ">
                        <div class="flex">
                            <img src="images/{{ user['image_ref'] }}"
                                class="object-cover w-12 h-12 mr-4 rounded-full border border-light shrink-0">
                            <input class="textsend-modal w-full text-gray-800 border- outline-none placeholder:text-gray-800 text-xl"
                                placeholder="What is in your mind ?" name="tweet_text" id="tweet_text" onkeyup="validate_textmodal()">
                        </div>
                        <div class="flex flex-col mt-2">
                            <button disabled class="transition duration-100 ease-in disabled:bg-light textsend-modal-button self-end bottom-2 right-2 px-4 py-2 bg-blue hover:bg-darkblue text-white font-bold rounded-full">
                                Tweet
                            </button>
                        </div>
                    </form>
                </div>

                <div class="flex py-3 mt-5 px-6">
                    <button class="cursor-pointer transition duration-100 ease-in self-end bottom-2 right-2 px-4 py-3 bg-blue hover:bg-darkblue text-white font-bold rounded-full w-full" 
                    onclick="toggleTweetModal()">
                        Tweet
                    </button>
                </div>

            </div>
            <div id="background-screen" class="z-10 w-screen h-screen absolute hidden top-0 left-0" onclick="toggleUserModal()"></div>
            <div id="user-modal" class="z-20 boxshadow-modal bg-white rounded-lg mt-auto mb-6 text-sm arrow-bottom invisible ">
                
                <div class="p-4 flex items-center">
                    <img src="images/{{ user['image_ref'] }}" class="object-cover w-12 h-12 rounded-full border border-light shrink-0">
                    <div class="ml-4">
                        <p class="font-bold">{{user["user_first_name"]}} {{user["user_last_name"]}}</p>
                        <p class="text-gray-500">@{{user["user_nick_name"]}}</p>
                    </div>
                </div>
                <div class="border-t border-slate-200">
                    <div class="p-4">
                        <a class="" href="/logout">
                            Log out @{{user["user_nick_name"]}} 
                        </a>
                    </div>
                </div>
            </div>
          
            <div class="mb-4 z-20" >
                <button class="flex items-center w-full" onclick="toggleUserModal()">
    
                    <img src="images/{{ user['image_ref'] }}" class="object-cover w-10 h-10 rounded-full border border-light shrink-0">

                    <div class="ml-3 text-sm text-left">
                        <p class="font-bold">{{user["user_first_name"]}} {{user["user_last_name"]}}</p>
                        <p class="text-gray-500">@{{user["user_nick_name"]}}</p>
                    </div>
                    <div class="ml-auto">
                        <i id="arrow-turn" class="fa fa-angle-down ml-auto " aria-hidden="true"></i>
                    </div>
                </button>
            </div>
        </div>
        % # end side navbar


       