% include("header_page_primary", title="My profile")

<body>
    <div id="app" class="flex h-screen w-full">

        % # Side navbar
        <div id="left_panel" class="flex flex-col justify-between w-1/4 border-r border-lighter px-8 py-4">

            <div class="">
                <a class="flex items-center py-2 px-4 text-blue ">
                    <i class="fa fa-twitter fa-fw text-2xl mr-4" aria-hidden="true"></i>
                </a>

                % for tab in tabs:
                <div class="mt-6">
                    <a class="text-xl hover:bg-lighter rounded-full py-3 px-6" href="{{tab['href']}}">
                        <i class="{{tab['icon']}}" aria-hidden="true"></i>
                        <span class="ml-2">{{tab['title']}}</span>
                    </a>
                </div>
                % end

                <button class="mt-10 w-full text-white bg-blue rounded-full p-3 hover:bg-darkblue">
                    <a href="./logout"> Log out</a>
                </button>

            </div>
            <div class="w-full">
                <button class="flex items-center w-full">
                    <img src="images/{{user['image_ref']}}" class="w-12 h-12 rounded-full border border-light">
                    <div class="ml-3 text-sm">
                        <p class="font-bold">{{user["user_first_name"]}} {{user["user_last_name"]}}</p>
                        <p>@{{user["user_nick_name"]}}</p>
                    </div>
                    <i class="fa fa-angle-down ml-auto" aria-hidden="true"></i>
                </button>
            </div>
        </div>
        % # end side navbar


        % # center
        <div class="w-2/4 h-full">

            <div class="px-4">
                <img src="images/{{user_any['image_ref']}}" class="w-12 h-12 rounded-full border border-light">

                <p class="font-bold">
                    {{user_any["user_first_name"]}}
                    {{user_any["user_last_name"]}}

                </p>
                <p class="text-gray-400 text-sm font-light">
                    @{{user_any["user_nick_name"]}}
                </p>
                <p class="text-gray-400 text-sm font-light">
                    <i class="fa fa-calendar-o" aria-hidden="true"></i>
                    Joined {{user_any["user_created_at"]}}
                </p>
            </div>

            <div class="voices mt-4">
                % for tweet in tweets:
                <div class="p-4 border-t border-slate-200">
                    <div class="flex">
                        <div class="w-full pl-4 TWEET">

                            <div class="flex">
                                <p class="font-bold">
                                    {{tweet["user_first_name"]}}
                                    {{tweet["user_last_name"]}}
                                </p>
                                <p class="ml-2 text-gray-400 font-normal"> @{{tweet["user_nick_name"]}}
                                    · {{tweet["tweet_created_at"]}}
                                </p>
                            </div>

                            <div class="tweet">
                                <p class="hidden">{{tweet["tweet_id"] }}</p>
                                <p>{{tweet["tweet_text"]}}</p>
                                <p>{{tweet["tweet_created_at"]}}</p>
                            </div>

                        </div>
                    </div>
                </div>
                % end
            </div>
        </div>
        % # end center



        % ##############################
        % # right panel
        <div class="w-1/4 h-full border-l border-lighter px-4 py-4">
            <div class="relative">
                <input type="text" class="w-full rounded-full py-3 pl-12 pr-4 bg-lighter outline-none mb-2"
                    placeholder="Search Fair Talk">
                <i class="fa fa-search absolute top-4 left-5 text-lg text-light" aria-hidden="true"></i>
            </div>
            % # You might like
            <div class="bg-lightest rounded-lg p-4">
                <p class="text-lg font-bold mb-4">
                    You might like
                </p>
                <div class="">
                    % for person in people:
                    <div class="flex items-center w-full mt-4">
                        <!-- <img src="/images/{{person['src']}}" class="w-10 h-10 rounded-full border border-light"> -->
                        <div class="ml-3 text-sm">
                            <p class="font-bold">
                                {{person['name']}}
                            </p>
                            <p>
                                {{person['handle']}}
                            </p>
                        </div>
                        <button class="ml-auto rounded-full bg-white border border-blue text-blue px-6 py-1 font-bold">
                            Follow
                        </button>
                    </div>
                    % end
                </div>
            </div>
            % # end you might like
            % # trending
            <div class="w-full bg-lightest rounded-lg mt-2">
                <div class="flex items-center w-full p-2">
                    <p class="text-lg font-bold">
                        Trends for you
                    </p>
                    <i class="fa fa-cog ml-auto text-lg text-blue" aria-hidden="true"></i>
                </div>
                % for trend in trends:
                <a class="flex w-full border-t p-2 hover:bg-lighter cursor-pointer">
                    <div class="">
                        <p class="">
                            {{trend["top"]}}
                        </p>
                        <p class="font-bold">
                            {{trend["title"]}}
                        </p>
                        <p class="">
                            {{trend["bottom"]}}
                        </p>
                    </div>
                    <i class="fa fa-angle-down ml-auto text-lg text-light" aria-hidden="true"></i>
                </a>
                % end
            </div>
            % # end trending
        </div>
        % # end right panel




    </div>
    % # end app



    % include("footer")